@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    /* Primary palette */
    --grey:#eeeeee;
    --green:#32e0c4;
    --primary-black:#222831;
    --secondary-black:#393e46;

    /*Secondary palette  */
    --black:#1b262c;
    --primary-blue:#0f4c75;
    --secondary-blue:#3282b8;
    --tertiary-blue:#bbe1fa;
}

html, body{
    /*--------- image on full page--------------------------------- */
    background-image: url(/images/kyle-sung-oQuP_XBjOMY-unsplash.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;

    /*-----------Fonts and scroll---------------------------------- */
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    scrollbar-color: var(--green);
    scrollbar-track-color: var(--primary-black);
    scrollbar-width: thin;
    font-family: 'Open Sans', sans-serif;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:#1f1b1bcb;
    text-transform: uppercase;
    position: sticky;
    top: 0;
}
.logo{
    width: 90px;
    height: 60px;
    margin: 0 none;
}
li, a{
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
    text-decoration: none;
    color: var(--grey);
}

a:hover{
    color: var(--green);
}


button{
    background-color: var(--green);
    border: 2px solid var(--primary-black);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background-color: var(--primary-black);
    color: var(--green);
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--green);
}

p{
    color: white;
}


